.menu {
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  h2 {
    font-size: 1em;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}



