<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <div class="ablauf text-center">
    <h1>Ablauf</h1>
    <h2>11.08.</h2>
    <p>14:00 freie Zeremonie</p>
    <p>15:00 Empfang</p>
    <p>16:00 Kaffee, Kuchen und Zigaretten</p>
    <p>19:00 Abendbrot</p>
    <p>21:00 Tanztee mit Damenwahl</p>

    <h2>12.08.</h2>
    <p>8.00-11.00 Festfrühstück</p>
    <p>12.00 Ab dafür ins Gruppenflittern</p>

  </div>
</div>



