<div class="geschenke text-center">
  <h1>Geschenke</h1>
  <p>Am meisten freuen wir uns dass ihr diesen Tag mit uns teilen möchtet.</p>
  <p>Angesehenen davon: Wir würden uns über einen Zuschuss für unsere Flitterwochen sehr freuen.</p>
  <p>Ein Teil dessen soll während der Reise einem wohltätigen Projekt zugute kommen. Wer dazu gute Ideen und Vorschläge hat, lasse sie uns wissen!</p>
</div>
