<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <div class="geschenke text-center">
    <h1>Geschenke / Beiträge</h1>
    <p>Am Meisten freuen wir uns darüber, dass ihr kommt und über unterhaltsame Beiträge. Für die Organisation der Beiträge wendet euch bitte an <%= link_to "Elena oder Marc", kontakt_path %>, unsere Trauzeugen.</p>
    <p>Abgesehen davon: Wir würden uns über einen Zuschuss für unsere Flitterwochen sehr freuen.</p>
    <p>Ein Teil dessen soll während der Reise einem wohltätigen Projekt zugute kommen. Wer dazu gute Ideen und Vorschläge hat, lasse sie uns wissen!</p>
  </div>
</div>
