<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <div class="kontakt text-center">
    <h1>Kontakt</h1>
    <p>Jasper <a href="callto:017624930103">0176 24930103</a></p>
    <p>Sophia <a href="callto:017623511210">0176 23511210</a></p>
    <h2>Unsere Trauzeugen sind:</h2>
    <p>Elena Schädel  <a href="mailto:elenaschaedel@googlemail.com">elenaschaedel@gmail.com</a></p>
    <p>Marc Bäcker  <a href="mailto:marcbaecker@gmail.com">marcbaecker@gmail.com</a></p>
    <h2>Web Programmierung:</h2>
    <p>Leon Entrup <a href="mailto:luenneberger@gmail.com">luenneberger@gmail.com</a> </p>
    <h2>Web Design:</h2>
    <p>Elena Schädel</p>
  </div>

</div>
