<div class="kontakt text-center">
  <h1>Kontakt</h1>
  <p>Jasper <a href="callto:017624930103">0176 24930103</a></p>
  <p>Sophia <a href="callto:017623511210">0176 23511210</a></p>
  <p>Unsere Trauzeugen sind:</p>
  <p>Elena Schädel  <a href="mailto:elenaschaedel@googlemail.com">elenaschaedel@gmail.com</a></p>
  <p>Marc Bäcker  <a href="mailto:marcbaecker@gmail.com">marcbaecker@gmail.com</a></p>
</div>
