<div class="unterkunft text-center">
  <h1>Unterkunft</h1>
  <p>Die Hochzeit findet im <a href="http://www.wildland.de" target="_blank">Hotel Wildland</a> statt was zugleich Location und Unterkunft ist.</p>
  <p>Bitte gebt uns im Menüpunkt Zu-/Absagen Bescheid, ob ihr ein Hotelzimmer wünscht. Es gibt 65 Betten, wobei ein Doppelzimmer 120/135€ inkl. Frühstück kostet.</p>
  <p>Alternativ ist Campieren auf dem Gelände erlaubt und gewünscht. Duschen u.v.m. ist hervorragend möglich (5€ pP). Unser Wohnwagen ‘Comtessa’ macht den Anfang... Frühstück einzeln 18 € pP</p>
</div>
