<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <div class="unterkunft text-center">
    <h1>Unterkunft</h1>
    <p>Die Hochzeit findet im <a href="http://www.wildland.de" target="_blank">Hotel Wildland</a> statt was zugleich Location und Unterkunft ist.</p>
    <p>
      <a href="https://goo.gl/maps/QhD58CwWa3R2" target="_blank" >Adresse: Am Moorberg 6, 29323 Wietze</a>
    </p>
    <p>Bitte gebt uns im Menüpunkt <%=link_to "Zu-/Absagen", zu_und_absagen_path %> Bescheid, ob ihr ein Hotelzimmer wünscht. Es gibt 65 Betten, wobei ein Doppelzimmer 120/135€ inkl. Frühstück kostet. Andere Hotels in der Nähe könnt ihr <a href="https://www.google.de/maps/search/Hotels/@52.6689005,9.830599,13z/data=!3m1!4b1?hl=en" target="_blank">hier</a> finden.</p>
    <p>Alternativ ist Campieren auf dem Gelände erlaubt und gewünscht! Duschen u.v.m. ist hervorragend möglich (5€ pP).</p>
    <p>Unser Wohnwagen ‘Comtessa’ macht den Anfang...</p>
  </div>
  <div id="hochzeit_map"> </div>
</div>



