<div class="unterkunft text-center">
  <h1>Unterkunft</h1>
  <p>Bitte bucht euer Hotelzimmer (65 Betten) -falls gewünscht - bei
   <a href="www.wildland.de">www.wildland.de</a>, per Mail oder telefonisch. (120/135€ DZ inkl. Frühstück)</p>
   <p>Alternativ ist Campieren auf dem Gelände erlaubt.  Duschen u.v.m. ist hervorragend
    möglich (5€ pP). Unser Wohnwagen ‘Comtessa’ macht den Anfang...
  Frühstück einzeln 18 € pP</p>
  <p>Wildland ist Location und Unterkunft gleichermaßen.</p>
  <p>Alternativ sind im Hotel Buskes (5min Autofahrt) 1000 Betten bis zum XY reserviert.</p>
</div>
